@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.abc {
    position: relative;
	top: 30px;
	right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
	display: block;
	z-index: 100;
	animation: anim 3s linear infinite;
    /*position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 50px solid #ee6c4d;
    z-index: 8888;
    animation: anim 3s linear infinite;*/
}
.abc img {
    margin-right: 5px;
	width: 100%;
    transform: scale(1.4);
  border-radius: 50%;
  /* margin-top: -10px;
    margin-left: 5px;
    width: 100%;
    transform: scale(1.4);
    border-radius: 50%;*/
}
.container{
    height: 100vh;
    width: 100vw;
    background: #293241;
    overflow: hidden;
}

.header{
    width: 1400px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1{
    font-size: 25px;
    color: #98c1d9;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.logo span{
    color: #e0fbfc;
}

.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /*gap: 50px;*/
}

.nav-links ul li a{
    padding: 0 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #e0fbfc;
    transition: 0.4s;
}

.nav-links ul li a:hover{
    color: #98c1d9;
    font-size: 25px;
}

.btn{
    padding: 10px 20px;
    color: #e0fbfc;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background: #3d5a80;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px, 
    rgba(0, 0, 0, 0.4) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.4s;
    font-weight: 600;
}

.btn-primary{
    margin-left: 100px;
    color: #3d5a80;
    background: #e0fbfc;
}

.btn:hover{
    /*scale: 105%;*/
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.main-content{
    width: 100%;
    height: 100%;
}

.main{
    position: relative;
    width: 1400px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line{
    width: 80px;
    border-bottom: 8px solid #ee6c4d;
    margin-bottom: 30px;
}

.main h1{
    text-transform: uppercase;
    font-size: 50px;
    color: #98c1d9;
    line-height: 1;
}

.main h2{
   font-size: 40px; 
   color: #98c1d9;
   margin-bottom: 50px;
}

.main span{
    color: #ee6c4d;
}

.main p{
    width: 800px;
    font-size: 18px;
    color: #e0fbfc;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}

.right{
    /* position: relative; */
}

.image{
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 50px solid #ee6c4d;
    z-index: 8888;
    animation: anim 3s linear infinite;
}

@keyframes anim{
    0%{
        top: 0;
    }
    50%{
        top: -10px;
    }
    100%{
        top: 0;
    }
}

.image img{
    margin-top: -10px;
    margin-left: 5px;
    width: 100%;
    transform: scale(1.4);
    border-radius: 50%;
}

.social{
    position: absolute;
    bottom: 17%;
    left: 14%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
}

.social i{
    color: #3d5a80;
    font-size: 30px;
    transition: 0.4s;
}

.social i:hover{
    color: #ee6c4d;
    scale: 105%;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e0fbfc;
    border: 2px solid #3d5a80;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.social .social-link:hover{
    border: 2px solid #ee6c4d;
    scale: 105%;
}