<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BenFa Home</title>
        <script src="https://kit.fontawesome.com/70745388b4.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      </head>
    <body>
      <label for="theme" class="theme">
        <span>Light</span>
        <span class="theme__toggle-wrap">
            <input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark">
            <span class="theme__fill"></span>
            <span class="theme__icon">
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
            </span>
        </span>
        <span>Dark</span>
    </label>
      <div class="container">
        <nav>
          <div class="nav-logo">
            <img src="static/images/logo.png">
          </div>
          <div class="nav-links">
            <a href="{{ url_for('homepage') }}">Home</a>
            <div>
              <a href="{{ url_for('log_user') }}">Login</a>
              <a href="{{ url_for('log_user') }}">Sign Up</a>
            </div>
          </div>
        </nav>
      </div>
    </body>
</html>