<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BenFa Products</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      <h1>Welcome to BenFa e-commerce Product section </h1>
      <div>
        <ul>
            <i class="bi bi-shop">Shop</i>
            <ul>
            <button type="submit"><i class="bi bi-wallet2">Your Wallet</i></button><br>
            <button type="submit"><i class="bi bi-truck">Put your products in this truck</i></button><br>
            <button type="submit"><i class="bi bi-upload">Upload your products</i></button><br>
            <button type="submit"><i class="bi bi-trash">Delete</i></button><br>
            </ul>
        </ul>
      </div>
      <p>This is the products page</p>
    </body>
</html>