<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Picture</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    </head>
    <body>
      
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="profile-picture">Choose a profile-picture</label>
        <input type="file" name="profile-picture" id="profile-picture" accept="image/*" required>
        <br>
        <input type="submit" value="Upload">
      </form>
      
    </body>
</html>